{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-ovesio-ecommerce" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{ text_warning_hash }}</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-ovesio-ecommerce" class="form-horizontal">
          <input type="hidden" name="module_ovesio_ecommerce_hash" value="{{ module_ovesio_ecommerce_hash }}" />

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_ovesio_ecommerce_status" id="input-status" class="form-control">
                {% if module_ovesio_ecommerce_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-export-duration">{{ entry_export_duration }}</label>
            <div class="col-sm-10">
              <select name="module_ovesio_ecommerce_export_duration" id="input-export-duration" class="form-control">
                {% if module_ovesio_ecommerce_export_duration == 24 %}
                <option value="12">{{ option_12_months }}</option>
                <option value="24" selected="selected">{{ option_24_months }}</option>
                {% else %}
                <option value="12" selected="selected">{{ option_12_months }}</option>
                <option value="24">{{ option_24_months }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          <fieldset>
            <legend>{{ text_instructions }}</legend>
            <div class="alert alert-info">
                {{ text_help_signup }}
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_product_feed }}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" value="{{ product_feed_url }}" class="form-control" readonly id="product-feed-url" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyToClipboard('product-feed-url')"><i class="fa fa-copy"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_order_feed }}</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" value="{{ order_feed_url }}" class="form-control" readonly id="order-feed-url" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="copyToClipboard('order-feed-url')"><i class="fa fa-copy"></i></button>
                        </span>
                    </div>
                </div>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
function copyToClipboard(elementId) {
  var copyText = document.getElementById(elementId);
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */
  document.execCommand("copy");
}
//--></script>
{{ footer }}
